<div class="main">
  <div layout="row" flex class="welcome">
    <div flex="50">
      <h1>A New Take on a Classic Car</h1>
    </div>
    <div flex="50"></div>
  </div>
  <div class="intro">
    <div class="details" layout="row" flex>
      <div flex="100">
        <h2>Keeping the Classic Mini alive</h2>
        <p>
          Classic Mini DIY was created as a simple youtube channel to help other classic Mini owners work on their classic cars.  As time progressed we realized that we could provide the classic Mini community with the largest resource for litrature and how-to guides for working on their old cars.  Whether you need technical specifications for your car, or are looking for details on color codes Classic Mini DIY is your source.
        </p>
      </div>
    </div>
    <div layout="row" layout-xs="column" flex class="info">
      <div flex="50"><img src="assets/engine.jpg" alt="image of a classic mini engine"/></div>
      <div flex="50" layout="column" class="details">
        <div flex="100" class="details">
          <h3><i class="fa fa-book" aria-hidden="true"></i> Historic Literature</h3>
          <aside>Added on a regular basis, we offer access to original documentation and literature on the classic Mini</aside>
        </div>
        <div flex="100" class="details">
          <h3><i class="fa fa-asterisk" aria-hidden="true"></i> Technical Specifications</h3>
          <aside>Sourced directly from Haynes Manuals, Classic Mini DIY offers in depth details on torque specs, clearances, and much more.</aside>
        </div>
        <div flex="100" class="details">
          <h3><i class="fa fa-video-camera" aria-hidden="true"></i> How-to Guides</h3>
          <aside>Detailed and comprehensive how to videos and guides showing exactly how to perform common and sometimes less common jobs on your classic mini.</aside>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>
