.bodies {
  h2, p {
    font-weight: 200;
  }
  .columns.saloon,
  .columns.estate,
  .columns.elf,
  .columns.moke, {
    display: none;

    &.is-active {
      display: flex;
    }
  }

  .panel-block strong {
    padding-right: .5rem;
  }
}
