.bodies {
  .columns.saloon,
  .columns.estate,
  .columns.elf,
  .columns.moke, {
    display: none;

    &.is-active {
      display: flex;
    }
  }

  .panel-block strong {
    padding-right: .5rem;
  }
}
