@import "partials/variables.scss";

// Basic App level sytles
.main {
  .welcome {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 300px 0;

    h1 {
      text-align: left;
      margin-left: 100px;
      padding-bottom: 125px;
    }
  }
  .intro {
    .details {
      text-align: center;
    }
    .info {
      img {
        display: block;
        float: right;
      }
      .details {
        text-align: left;
        max-height: 150px;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}
md-toolbar {
  h2 {
    color: $font-base;
    margin-left: 5% !important;
  }
  a.md-button {
    color: $font-base !important;
  }
  a.md-button.md-primary {
    background: #106cc8;
    color: #fff !important;
  }
  a.md-button:last-of-type {
    margin-right: 5% !important;
  }
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
  color: $font-base;
}
