<section class="">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>{{title}}</h2>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- TODO: Apply background image to figure -->
      <figure class="image-engine">
        <!-- TODO: Absolute position these and use as annotations -->
        <p class="diagram-text diagram-text-1">5.44 inches (138.3 mm)</p>
        <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
        <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
      </figure>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- TODO: Apply background image to figure -->
      <figure class="image-engine">
        <!-- TODO: Absolute position these and use as annotations -->
        <p class="diagram-text diagram-text-1">5.44 inches (138.3 mm)</p>
        <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
        <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
      </figure>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- TODO: Apply background image to figure -->
      <figure class="image-engine">
        <!-- TODO: Absolute position these and use as annotations -->
        <p class="diagram-text diagram-text-1">5.44 inches (138.3 mm)</p>
        <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
        <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
      </figure>
    </div>
  </div>
</section>
