<div
  class="hero-banner"
  [ngStyle]="{'background-image': 'url(' + heroUrl + ')'}">
  <img src="assets/logo.png" alt="Classic Mini DIY Logo"/>
</div>
<div class="page" layout="column">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <app-counter></app-counter>
    </div>
  </div>
  <div class="about-us">
    <div class="headline-bordered">
      <h2>Bringing the Classic Mini into the future</h2>
    </div>
    <div class="what-we-do row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="box">
          <i class="fa fa-map" aria-hidden="true"></i>
          <h3>Search for Historic Records</h3>
          <p>
            We do the messy and time consuming work of collecting all the historic records for the Classic Mini.  Whether from various Hayne's manuals over the years, or direct from British Motor Company(BMC) documents.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="box">
          <i class="fa fa-check" aria-hidden="true"></i>
          <h3>Fact Check and Verify</h3>
          <p>
            After gathering all this data we make sure all numbers, specs and infroamtion posted on this site is verified.  All data on this site is fact checked to ensure you don't run into problems working on your classic.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="box">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <h3>Present to you Online</h3>
          <p>
            Then finally after we have all the infromation we spent a painstakingly amount of time to bring you this information in the easiest to read and access way possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="youtube-cta">
    <div class="youtube-content">
      <a href="https://www.youtube.com/channel/UCZIUfOFhrQ9nrR06IOoAJ2Q">
        <img src="assets/youtube-icon.png" alt="">
      </a>
      <a href="https://www.youtube.com/channel/UCZIUfOFhrQ9nrR06IOoAJ2Q">
        <h1>Check us out on Youtube</h1>
      </a>
    </div>
    <div class="backshape"></div>
  </div>
  <div class="citations">
    <div class="headline-bordered">
      <h2>Our Sources</h2>
    </div>
    <div class="row">
      <!-- LEFT SIDE OF CITATIONS -->
      <div class="left col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs">
                <div class="box clear">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  <h3>
                    Old Production Manuals
                  </h3>
                  <p>
                    We use old production manuals included with the mini when purchased. Historic Literature about the minis when produced over their 41 year production cycle.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <div class="box clear">
                  <i class="fa fa-spin fa-cog" aria-hidden="true"></i>
                  <h3>
                    Haynes and Workshop Manuals
                  </h3>
                  <p>
                    Combining data published in Haynes manuals and many other workshop manuals for the mini, we are providing you with reliable and true data for all parts of your car.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE OF CITATIONS -->
      <div class="right col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs">
                <div class="box clear">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                  <h3>
                    Published Internet Resources
                  </h3>
                  <p>
                    Existing published networks online such as 7 Enterprises, Mini Mania, and many others.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <div class="box clear">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <h3>
                    The Mini Community
                  </h3>
                  <p>
                    Part of what makes Mini's such wonderful cars to own and drive, are their owners. As such one of the best places we pull information from, are directly from the people who drive these cars.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
