<div
  flex="100"
  class="hero-banner"
  [ngStyle]="{'background-image': 'url(' + heroUrl + ')'}">
</div>
<div class="about-us" flex="100">
  <div class="who-are-we-header">
    <h3 class="headline-bordered">What is Classic Mini DIY? </h3>
  </div>
  <div class="who-are-we-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu enim non sapien vulputate luctus ornare vel turpis. Donec mattis mauris at lectus vulputate, vel venenatis risus scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam in feugiat libero, sed pellentesque leo. Integer interdum nulla ac lorem vestibulum, non rhoncus sapien fermentum. Etiam congue bibendum fringilla.
    </p>
  </div>
</div>
