.specs {
  padding-bottom: 5rem;

  .header {
    padding-top: 1rem;
  }

  .tab-section {
    .saloon, .estate, .elf, .moke,
    .van, .countryman, .clubman, .pickup {
      display: none;

      &.is-active {
        display: inherit;

        > .column.is-5 {
          padding-top: 0;
        }
      }
    }
  }

  .card {
    h3 {
      padding-bottom: 2rem;
    }
    p {
      padding-bottom: 2rem;
    }
  }
}
