.techincal {
  .hero {
    background-image: url('/backgrounds/technical/hero.jpg') !important;
    background-size: cover;
    min-height: 19rem;

    h1 {
      color: #fff;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .bottom-nav.bottom-nav--absolute.bottom-nav--active {
    z-index: 1 !important;
    position: relative;
  }
  .torques {
    background-color: #F1F5F7;
  }
}
