<div class="page videos" layout="column">
  <!-- <div class="row">
    <h2>Our Current Videos</h2>
  </div> -->
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/engine.png" alt="">
        </a>
        <h3>Engine</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/electrical.png" alt="">
        </a>
        <h3>Electrical</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/suspension.png" alt="">
        </a>
        <h3>Suspension</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/cooling.png" alt="">
        </a>
        <h3>Cooling System</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/brakes.png" alt="">
        </a>
        <h3>Brakes</h3>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/engine.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/engine.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="box">
        <a href="#">
          <img src="assets/videos/engine.png" alt="">
        </a>
      </div>
    </div> -->
  </div>
</div>
