.avatar img, .avatar .icon {
  height: auto;
  border-radius: 0;
}

.toolbar {
  .btn__content {
    a {
      text-decoration: none;
      z-index: 2;
    }
  }
}

.navigation-drawer--temporary, .navigation-drawer--is-mobile:not(.navigation-drawer--permanent) {
  z-index: 5 !important;
}
