.electrical {
  h3 {
    text-decoration: underline;
  }
  aside.title,
  aside.subheader {
    height: 30px;
  }
  aside a {
    text-decoration: none;
  }
  ul {
    &.list {
      background: transparent !important;
    }
  }
}
