@import "src/variables.scss";

footer {
  background-color: $footer-background;
  height: 100px;

  .contact {
    float: left;
  }

  .copyright {
    padding-top: 40px;
    padding-right: 20px;
    float: right;

    p {
      color: $white;

    }
  }
}
