.manuals {
  .hero {
    background-image: url('/backgrounds/manuals/manuals4.jpg') !important;
    background-size: cover;
    min-height: 15rem;
  }

  .card__media__background {
    background-position: center !important;
  }

  .amazon {
    background-color: #FF9900 !important;
  }

  .image-section {
    background-color: #F1F5F7;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .manuals-section,
  .guides,
  .technical {
    display: none;

    &.is-active {
      display: flex;
    }
  }
}
