.navbar-menu {
  a.has-text-white:hover {
    color: #2f2f2f !important;
  }
}

p {
  letter-spacing: 0.01em;
  line-height: 1.8em;
}

@media only screen and (max-width: 768px) {
  .is-size-3 {
    font-size: 1.5rem !important;
  }
}

// .callout-card {
//   @keyframes wiggleSmall {
//     0% { transform: rotate(0deg); }
//     80% { transform: rotate(0deg); }
//     85% { transform: rotate(3deg); }
//     95% { transform: rotate(-3deg); }
//     100% { transform: rotate(0deg); }
//   }

//   display: inline-block;
//   animation: wiggleSmall 3s infinite;

//   &:hover {
//     animation: none;
//   }
// }
