// Futura PT Heavy
.fancy-font-heavy {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Futura PT Heavy Oblique
.fancy-font-heavy-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// Futura PT Book
.fancy-font-book {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Futura PT Book Oblique
.fancy-font-book-oblique {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Futura PT Bold
.fancy-font-bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Futura PT Bold Oblique
.fancy-font-bold-oblique {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// Futura PT Cond Book
.fancy-font-cond-book {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// Futura PT Cond Book Oblique
.fancy-font-cond-book-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Futura PT Cond Bold
.fancy-font-cond-bold {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Futura PT Cond Bold Oblique
.fancy-font-cond-bold-oblique {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
