// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #659CC8;
$primary-invert: findColorInvert($primary);
$danger: #ee404f;
$danger-invert: findColorInvert($danger);
$patreon: #F96854;
$patreon-invert: findColorInvert($patreon);
$guessworks: #b8b8b8;
$guessworks-invert: findColorInvert($guessworks);
$seven: #D70402;
$seven-invert: findColorInvert($seven);
$amazon: #FEBD69;
$amazon-invert: findColorInvert($amazon);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "patreon": ($patreon, $patreon-invert),
  "guessworks": ($guessworks, $guessworks-invert),
  "seven": ($seven, $seven-invert),
  "amazon": ($amazon, $amazon-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
// I dont like Bulma's Navbar and this one basically is stripes navbar so plug and play baby
@import "../node_modules/vue-navigation-bar/dist/vue-navigation-bar.css";
// If I need all the icons later uncomment this and comment in the other
@import "../node_modules/@fortawesome/fontawesome-pro/css/all.min.css";
// Add Font awesome here so it can be bundled


// Import all my custom scss
@import "./bulma-overides.scss";
@import "./fonts.scss";
@import "./spacing.scss";
@import "./transitions.scss"
