// Import Bulma's core
// @import '@/node_modules/bulma/sass/utilities/index';

// Set your colors
$brand: #659cc8;
$red: #b22222;
$green: #4a7023;
$patreon: #f96854;
$guessworks: #b8b8b8;
$seven: #d70402;
$amazon: #febd69;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $success: $green,
  $danger: $red,
  $primary: $brand,
  $link: $brand,
);
@import 'bulma/bulma.scss';
@import './divider.scss';


// Import all my custom scss
@import './fonts.scss';
@import './spacing.scss';
@import './transitions.scss';
