// Import Bulma's core
// @import '@/node_modules/bulma/sass/utilities/index';

// Set your colors
$brand: #659cc8;
$red: #b22222;
$green: #4a7023;
$patreon: #f96854;
$guessworks: #b8b8b8;
$amazon: #febd69;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $success: $green,
  $danger: $red,
  $primary: $brand,
  $link: $brand,
);

.is-patreon {
  background-color: $patreon !important;
  border-color: $patreon !important;
  color: white !important;
}

.is-guessworks {
  background-color: $guessworks !important;
  border-color: $guessworks  !important;
  color: white !important;
}

.is-amazon {
  background-color: $amazon !important;
  border-color: $amazon !important;
  color: white !important;
}


@import 'bulma/bulma.scss';
@import './divider.scss';

// Import all my custom scss
@import './fonts.scss';

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &.layer {
    margin-top: -10%;
    background-image: url('/img/layer.svg');
  }
  &.layer1 {
    margin-top: -5%;
    background-image: url('/img/layer1.svg');
  }
  &.layer2 {
    background-image: url('/img/layer2.svg');
  }
}