// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #279BFB
  accent: #279BFB
  secondary: #424242
  info: #0D47A1
  warning: #FBDF27
  error: #FB4027
  youtube: #E62117
  success: #2E7D32
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
