<div class="row">
  <div class="col-xs-12 col-sm-6 aside-content">
    <h2>Technical Info</h2>
    <p>The Mini is a small economy car produced by the English based British Motor Corporation (BMC) and its successors from 1959 until 2000. The original is considered an icon of 1960s British popular culture. Its space-saving transverse engine front-wheel drive layout, allowing 80 percent of the area of the car's floorpan to be used for passengers and luggage, influenced a generation of car makers.</p>
    <div class="tg-wrap">
      <table class="tg">
        <tr>
          <th>Wheelbase</th>
          <td class="value1">2,036mm</td>
          <td class="value2">80.2in</td>
          <td class="value3">Saloon</td>
        </tr>
        <tr>
          <th></th>
          <td class="value1">2,138mm</td>
          <td class="value2">84.2in</td>
          <td class="value3">Estate/Commercial</td>
        </tr>
        <tr>
          <th>Length</th>
          <td class="value1">3,054mm</td>
          <td class="value2">120.2in</td>
          <td class="value3">Saloon</td>
        </tr>
        <tr>
          <th></th>
          <td class="value1">3,299mm</td>
          <td class="value2">129.9in</td>
          <td class="value3">Estate/Commercial</td>
        </tr>
        <tr>
          <th></th>
          <td class="value1">3,300mm</td>
          <td class="value2">130in</td>
          <td class="value3">Wolseley Hornet/Riley Elf</td>
        </tr>
        <tr>
          <th>Width</th>
          <td class="value1">1,397mm</td>
          <td class="value2">55.0in</td>
          <td class="value3">All Models</td>
        </tr>
        <tr>
          <th>Height</th>
          <td class="value1">1,346mm</td>
          <td class="value2">53.0in</td>
          <td class="value3">All Models</td>
        </tr>
        <tr>
          <th>Weight</th>
          <td class="value1">617–686kg</td>
          <td class="value2">1,360–1,512lbs</td>
          <td class="value3">All Models</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 image-facts">
    <div class="row">
      <img src="assets/tech-outline.jpg"/>
    </div>
    <div class="row facts">
      <div class="section col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box clear">
          <h4>Production Years</h4>
          <p class="value">
            1959 - 2000
          </p>
        </div>
      </div>
      <div class="section col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box clear">
          <h4>Markets Sold</h4>
          <p class="value">
            United Kingdom
            Australia
            New Zealand
            South Africa
            Germany
            Italy
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
