<div class="row">
  <div class="col-xs-12 welcome-content">
    <h2>Technical Info</h2>
    <p>The Mini is a small economy car produced by the English based British Motor Corporation (BMC) and its successors from 1959 until 2000. The original is considered an icon of 1960s British popular culture. Its space-saving transverse engine front-wheel drive layout, allowing 80 percent of the area of the car's floorpan to be used for passengers and luggage, influenced a generation of car makers.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 dimensions-container">
    <!-- TODO: Apply background image to figure -->
    <figure class="image-saloon">
      <!-- TODO: Absolute position these and use as annotations -->
      <p class="diagram-text diagram-text-1">5.44 inches (138.3 mm)</p>
      <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
      <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6 dimensions-container">
    <!-- TODO: Apply background image to figure -->
    <figure class="image-estate">
      <!-- TODO: Absolute position these and use as annotations -->
      <p class="diagram-text diagram-text-1">
        {{dimensions.length.estateIn}}inches
        <br/>
        {{dimensions.length.estateMm}}mm
      </p>
      <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
      <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 dimensions-container">
    <!-- TODO: Apply background image to figure -->
    <figure class="image-riley">
      <!-- TODO: Absolute position these and use as annotations -->
      <p class="diagram-text diagram-text-1">5.44 inches (138.3 mm)</p>
      <p class="diagram-text diagram-text-2">2.64 inches (67.1 mm)</p>
      <p class="diagram-text diagram-text-3">0.28 inch (7.1 mm)</p>
    </figure>
  </div>
</div>
