.hero-banner {
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  display: block;
  padding-top: 100px;
  padding-left: 100px;
  width: 60%;
  font-family: Lato;
  font-size: 55px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}
