.home {
  .hero {
    background-image: url('/backgrounds/home/hero.png') !important;
  }
  .what-we-do,
  .latest-video {
    .column.first {
      padding-left: 6rem;

      h2 {
        font-size: 4rem;
        font-weight: 600;
      }
      hr {
        width: 5rem;
        background-color: #279BFB;
        height: 5px;
      }
    }
    .is-hidden-desktop {
      .column.first {
        padding-left: 1rem;

        h2 {
          font-size: 2.5rem;
          font-weight: 600;
        }
        hr {
          width: 10rem;
          background-color: #279BFB;
          height: 5px;
        }
      }
    }
  }
  .what-we-do {
    h3 {
      margin: 0;
    }
    .column.last { padding-right: 5rem; }
    .media-content p { margin: 0; }
  }

  .latest-video {
    background-color: #F4F5F9
  }

  .contact {
    background-color: #333333;

    @media only screen and (max-width:48em) {
      text-align: center;
    }

    h2, h3, .social-icons {
      padding-left: 6rem;

      @media only screen and (max-width:48em) {
        padding-left: 0;
      }
    }
    h2 {
      color: #FDFCFC;
      text-transform: uppercase;
      font-size: 2rem
    }

    h3 {
      padding-top: .5rem;
      color: #9A9DAD;
    }

    .social-icons {
      padding-top: 1rem;

      @media only screen and (max-width:48em) {
        text-align: center;

        .level-left {
          margin: auto;
        }
      }

      .icon {
        color: #9A9DAD;

        &:hover {
          color: #279BFB;
        }
      }
    }
    .ad-block {
      border-left: 1px solid #9A9DAD;
      border-right: 1px solid #9A9DAD;
    }
    .sponsors {
      @media only screen and (max-width:48em) {
        border-left: none;
        border-top: 1px solid #9A9DAD;
        text-align: center;
        margin-left: 4rem;
        margin-right: 4rem;
      }

      h2 {
        padding-bottom: 2rem;
      }

      h2, a {
        padding-left: 2rem;

        @media only screen and (max-width:48em) {
          padding-left: 0;
        }
      }
    }
  }
}
