.home {
  .hero {
    background-image: url('/backgrounds/default.png') !important;
    background-size: cover;
    min-height: 92vh;

    h1 {
      color: #fff;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    font-weight: 200;
  }
  a {
    text-decoration: none;
  }

  .container--fluid {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mission, .latest-video {
    h2 {
      color: #fff;
    }
  }
  .mission {
    .mission-list {
      .center {
        border-left: 2px solid #EDF0F3;
        border-right: 2px solid #EDF0F3;
      }
    }
  }

  .latest-video {
    background-color: #F1F5F7;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: -25px;
    margin-right: -25px;

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sponsors {
    .seven-ent {
      background-color: #D40C16 !important;
    }
    .patreon {
      background-color: #F96854 !important;
    }
  }
}
