@import "src/variables.scss";

md-toolbar {
  position: fixed;
  background: transparent;
  color: $white;
}

md-toolbar h1 {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
  color: $white;
}
md-toolbar  a.md-button:last-of-type {
  margin-right: 5% !important;
}
.md-toolbar-tools {
  width: 100%;
}
.nav-buttons {
  float: right;
}

.nav-buttons {
  button.active {
    background-color: $brand-primary;
    [md-button]::after, [md-icon-button]::after {
      background-color: $brand-primary;
    }
  }
}
