<div class="header">
  <md-toolbar class="md-whiteframe-3dp">
    <div class="md-toolbar-tools">
      <h1>{{title}}</h1>
      <div class="nav-buttons">
        <button md-button uiSref="home" uiSrefActive="active" aria-label="Home">
          Home
        </button>
        <button md-button uiSref="history" uiSrefActive="active" aria-label="History">
          History
        </button>
        <button md-button uiSref="technical" uiSrefActive="active" aria-label="Tech-Specs">
          Technical Specs
        </button>
        <button md-button aria-label="Youtube">
          <a href="#"></a>
        </button>
      </div>
    </div>
  </md-toolbar>
</div>
