@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .float-right-xs {
    float: right;
  }
  .float-left-xs {
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .float-right-sm {
    float: right;
  }
  .float-left-sm {
    float: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  .float-right-md {
    float: right;
  }
  .float-left-md {
    float: left;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
  .float-right-lg {
    float: right;
  }
  .float-left-lg {
    float: left;
  }
}
