.historical {
  .loader {
    z-index: -1;
    border-color: #279BFB;
    border-right-color: transparent;
    border-top-color: transparent;
    font-size: 100px;
    margin-right: auto;
    margin-left: auto;
    top: 10rem;
    left: 48%;
    position: fixed;
  }

  .iframe-container {
    z-index: 1;
  }
}
